<%- include('header.ejs') %>

<body>
    <h1>This is a demo Quiz application</h1>
    <div>
        <form action="/queslist" method="POST" enctype="application/x-www-form-urlencoded">
        <button type="submit" >Start Quiz</button>
        </form>
    </div>
</body>