<%- include('header.ejs') %>

<body>
    <form id = 'verifyadmin'  action="verify" >
        <input type="password"  id="pass" name="pass" placeholder="Enter admin password"><br><br>
        <button type="submit" id="verify">Submit</button>
    </form>
    <script src="quiz.js"></script>
</body>